<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CAPACITOR_DEBUG</key>
	<string>$(CAPACITOR_DEBUG)</string>
	<key>CFBundleURLTypes</key>
	<array><dict>
		<key>CFBundleURLSchemes</key>
		<array><string>com.bigscreenbible.app</string></array>
	</dict></array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
        <string>Big Screen Bible</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>BSBNativePushAvailable</key>
	<string>$(BSB_NATIVE_PUSH_AVAILABLE)</string>
	<key>BSBPushEnvironment</key>
	<string>$(APS_ENVIRONMENT)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.bigscreenbible.app.reader</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Reader Mode</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>QuickActionReader</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.bigscreenbible.app.parallel</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Parallel Mode</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>QuickActionParallel</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.bigscreenbible.app.games</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Games</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>QuickActionGames</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.bigscreenbible.app.search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>QuickActionSearch</string>
		</dict>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
